@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

.WriterAbout--bigbox {
  padding-left: 2%;
  padding-right: 1%;
  padding-top: 2%;
  background-color: #eaf3f9;
}

.WriterAbout--smallbox {
  background-color: white;
  border-radius: 12px;
  padding: 2%;
}

.WriterAbout--heading {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 110%;
  text-align: left;
  letter-spacing: 0.05em;
  color: #2d9cdb;
}

.WriterAbout--para {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.05em;
  color: #363e3d;
  text-align: left;
}
