@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

.WriterProfile--bigbox {
  padding-left: 2%;
  padding-right: 1%;
  padding-top: 2%;
  background-color: #eaf3f9;
}

.WriterProfile--smallbox {
  background-color: white;
  border-radius: 12px;
  padding: 2%;
}

.writer-img {
  width: 235px;
  height: 217px;
  border-radius: 12px;
}
.writer-nameBox-main {
  margin-top: 2%;
}

.writerprofile--box {
  display: flex;
  flex-direction: row;
}

.WriterImg--container {
  float: left;

  width: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.WriterImg--Img {
  width: 224px !important;
  height: 200px !important;
}
.Writer--achievement {
  float: right;
  margin: 0 0 0 20px;
  width: 75%;
}

.Writer--nameBox {
  display: flex;
  flex-direction: row;
}
.writer--name {
  float: left;
}
.verified--tick {
  float: right;
  padding-left: 2%;
  width: 45px;
}

.speciality--box {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 5%;
}

.Writer--speciality {
  padding-right: 1.2rem;
  padding-left: 1.5rem;
  border-style: solid;
  border-width: 1px;
  border-color: #2d9cdb;
  border-left: hidden;
  border-top: hidden;
  border-bottom: hidden;
}
.Writer--speciality1 {
  padding-right: 1.2rem;

  border-style: solid;
  border-width: 1px;
  border-color: #2d9cdb;
  border-left: hidden;
  border-top: hidden;
  border-bottom: hidden;
}
.Writer--speciality2 {
  padding-right: 4rem;
  padding-left: 1.5rem;
}

.Writer--speciality,
.Writer--speciality1,
.Writer--speciality2 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 110%;
  text-align: center;
  letter-spacing: 0.05em;
  background: linear-gradient(
    232.68deg,
    #2dd1db -8.55%,
    #2d9cdb 57.36%,
    #1a8ed0 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.writer--name {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 125%;
  letter-spacing: 0.05em;
  color: #151515;
}
.writer--department {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 110%;
  text-align: left;
  letter-spacing: 0.05em;
  color: #363e3d;
}

.writer--rev {
  font-weight: 300;
  font-size: 18px;
  line-height: 27px;
  /* identical to box height */
  display: flex;
  margin-top: 22px;
  text-align: left;
  letter-spacing: 0.05em;
  color: #2d9cdb;
}
.writers-rev-p {
  font-size: 16px;
  margin: 3px 0 0 15px;
}

.speciality--bold--text {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 19px;
  line-height: 110%;
  text-align: center;
  letter-spacing: 0.05em;
  background: linear-gradient(
    232.68deg,
    #2dd1db -8.55%,
    #2d9cdb 57.36%,
    #1a8ed0 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

 /* #tooltip {
    background-color: #333;
    color: white;
    padding: 5px 10px;
    border-radius: 4px;
    font-size: 13px;
  }  */

.tippy--tooltip {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 300;
  font-size: 12px;
  line-height: 24px;
  letter-spacing: 0.05em;
  color: white;
}
