.service--outerbox {
  width: 100%;
  height: 100%;
  margin-top: -10rem;
}

.service-main {
  display: flex;
  flex-direction: column;
  margin-top: 5.313rem;
}

.service-heading1--container {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  width: 100%;
}

.service-heading1--text{
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 125%;
  text-align: center;
  letter-spacing: 0.05em;
  background: linear-gradient(232.68deg, #2DD1DB -8.55%, #2D9CDB 57.36%, #1A8ED0 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.service-heading1--background{
  position: absolute;
  z-index: -1;
  top: -41.5%;
  opacity: 0.55;
}

.service--imgParaBox{
  margin-top: 6%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.service--header--img{
  margin-top: -2rem;
  background: url("./ServiceAssests/laptop.png");
  background-repeat: no-repeat;
  background-size: 27rem, 14.839rem;
  width: 27rem;
  height: 14.839rem;
  zoom: 115%;
}

.service-main-text-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 45.5rem;
  height: 8.688rem;
}

.brand-names--heading {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 110%;
  letter-spacing: 0.05em;
  color: #151515;
}

.service-main-text--para {
  margin-top: 4.5%;
  font-family: 'Poppins';
  font-style: normal;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 136%;
  letter-spacing: 0.05em;
  color: #363E3D;
}

.service--container{
  margin-top: 4.411rem;
  display: grid;
  grid-template-columns: 50% 50%;
  /* column-gap: 3rem; */
  justify-items: center;
  row-gap: 3rem;
}