.service-card-container {
    width: 576px;
    height: 71px;
    background-color: #EAF3F9;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    word-wrap: break-word;
}

.serviceCard-body{
    width: 576px;
    height: 71px;
    display: flex;
    flex-direction: column;
    margin-left: 1.5rem;
}

.serviceCard-body-title {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 110%;
    letter-spacing: 0.05em;
    color: #2D9CDB;
}

.serviceCard-body-para {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 136%;
    letter-spacing: 0.05em;
    color: #363E3D;
    margin-top: 0.2rem;
}
