@use "sass:math";

.steps-container{
  margin-top: 6%;
  background: #091115;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  height: 160vh;
}
.heading{
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  width: 100%;
}

.stepsToFollow-bg-header{
 position: absolute;
 top: -35%;
 opacity: 0.3;
}

.heading h1{
  font-weight: 600;
  font-size: 32px;
  line-height: 125%;
  text-align: center;
  letter-spacing: 0.05em;
  background: linear-gradient(232.68deg, #2DD1DB -8.55%, #2D9CDB 57.36%, #1A8ED0 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;

}



// CARDS CSS START
.cards {
  position: relative;
  height: 185px;
  min-width: 185px;
}



.box {
  // z-index: 3;
  position: absolute;
  top: 20px;
  left: 20px;
  right: 20px;
  bottom: 20px;
  background: linear-gradient(232.68deg, #2DD1DB -8.55%, #2D9CDB 57.36%, #1A8ED0 100%);
  border-radius: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  transition: 0.5s;
}

.box:hover {
  transform: translateY(-10px);
}


.content {
  // z-index: 3;
  margin-top: 15px;
  padding: 20px;
  text-align: center;
}

.content p {
  font-size: 15px;
  position: relative;
  display: inline-block;
  border-radius: 5px;
  text-decoration: none;
  color: white;
  margin-top: 10px;
  transition: 0.5s;
}


// CARDS CSS END

.circular-container{
  /* display: flex; */
  margin-top: 8%;
  align-items: center;
  justify-content: center;
  position: relative;
  /* width: 900px; */
  /* height: 900px; */
} 


// STEPS DESC CSS START

#step-number{
  z-index: 1;
  position: absolute;
  text-align: center;
  top: 13.5rem;
  left: 10.5rem;  
  color: #fff;
  width: 686px;
  height: 125px;
  border: 2px solid #2D9CDB;
  border-radius: 176px;

}

.header{
    top: -2rem;
    left: 11rem;
    width: 22rem;
    position: absolute;
    text-align: center;
    background: #091115;
    padding: 1rem;
}

#step-number .content h3{
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 110%;
  text-align: center;
  letter-spacing: 0.05em;
  color: #F2F2F2;
}
#step-number .content p{
  width: 575px;
  height: 42px;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  text-align: center;
  letter-spacing: 0.05em;
  color: #FFFFFF;
}
.step-number-title{
  font-size: 22px !important;
}


// STEPS MIDDLE DESC CSS END


// @import "compass/css3";


/// Mixin to place items on a circle
/// @param {Integer} $item-count - Number of items on the circle
/// @param {Length} $circle-size - Large circle size
/// @param {Length} $item-size - Single item size

@mixin on-circle($item-count, $circle-size,$circle-height, $item-size) {  
  position: relative;
  width:  $circle-size;
  height: $circle-height;
  border-radius: 50%;
  padding: 0; 
  list-style: none;
  
  > * {
    display: flex;
    position: absolute;
    top:  50%; 
    left: 50%;
    margin: - math.div($item-size , 2);
    width:  $item-size;
    height: $item-size;
    
    $angle: math.div(360 , $item-count);
    $rot: 0;

    @for $i from 1 through $item-count {
      &:nth-of-type(#{$i}) {
        transform: rotate($rot * 1deg) translate(math.div($circle-size , 2)) rotate($rot * -1deg);
      }

      $rot: $rot + $angle;
    }
    
    &:nth-of-type(1){
      transform: rotate(-88deg) translate(15em) rotate(88deg);
    }

    &:nth-of-type(2){
      transform: rotate(160deg) translate(-27em) rotate(-160deg);
    }

    &:nth-of-type(3){
      transform: rotate(23deg) translate(28em) rotate(-23deg);
    }
    &:nth-of-type(4){
      transform: rotate(85deg) translate(17em) rotate(-85deg);
    }
   
    &:nth-of-type(5){
      transform: rotate(155deg) translate(26em) rotate(-155deg)
    }
    
    &:nth-of-type(6){
      transform: rotate(202deg) translate(25em) rotate(-202deg);
    }    

  }
}

.outer-circle{
  width: 65rem !important;
  height: 35rem !important;
  border-radius: 50%;
  // background: #EAF3F9;
  position: relative;
  border: 2px solid #2D9CDB !important;
  padding: 20px;
}

.inner-circle{
  @include on-circle($item-count: 6, $circle-size: 62em,$circle-height:32em,$item-size: 220px); 
  border: solid 2px #1A8ED0;
  background: #091115;
  .cards { 
    transition: .15s;
    max-width: 50%; 
    // display: block; 
    // border-radius: 50%;
    // filter: grayscale(30%);
     
    // &:hover {
    //   filter: grayscale(0);
    // }
  }
}



// Progress Bar
.circular-progress{
  position: absolute;
  top: -0.35px;
  left: 0rem;
  width: 64.8rem;
  height: 34.8rem;
  // background: rgb(63, 195, 138);
  color: #EAF3F9 !important;
  border-radius: 50%;
  // z-index: 5;
}
// .MuiCircularProgress-svg{
//   width: 30rem;
//   height: 20rem;
// }
.value-container{
  position: relative;
  font-size: 50px;
  color: #3700ff;
}


@media all and (min-width: 768px) and (max-width: 1024px) { 
  
  .stepsToFollow-bg-header{
    left: 1rem;
    margin-top: -6px;
    height: 5.25rem;
    width: 100%;
  }

}

@media all and (min-width: 300px) and (max-width: 768px) {
   .heading{
    padding: 20px 0;
   }
  .heading h1 {
    font-size: 22px;
    color: #EAF3F9;
    font-weight: 700;
  }

  .stepsToFollow-bg-header{
      position: absolute;
      z-index: -1;
      width: 100%;
      left: 1rem;
      height: 2rem;
      margin: -2px -20px;
  }

  .cards {
    position: relative;
    width: 120px;
    height: 120px;
    background: linear-gradient(232.68deg, #2DD1DB -8.55%, #2D9CDB 57.36%, #1A8ED0 100%);
  }
  .step-icon{
    width: 32px;
    height: 32px;
  }

}