@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

.bckcolor {
  background: #eaf3f9;
}

.left_div {
  float: left;
  width: 25%;
  padding-top: 2rem;
}
.right_div {
  float: right;
  width: 75%;
  padding-top: 2rem;
  text-align: left;
}

.about-title {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 110%;

  letter-spacing: 0.05em;

  color: #ffffff;
}
.about-para {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.05em;
  margin-top: 2rem;
  color: #ffffff;
  padding-right: 1rem;
}

.aboutH {
  /* Subheading */

  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 110%;

  letter-spacing: 0.05em;

  color: #151515;
  text-align: left;
}

.secondpadding {
  padding-top: 3%;
  padding-bottom: 5%;
}

.abPara {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 27px;
  letter-spacing: 0.05em;
  color: #363e3d;
  text-align: left;
}

.WriterProfileReview--header_container {
  justify-content: left;
  text-align: left;
}
.WriterProfileReview--heading {
  padding-left: 1%;
}

.Aboutcard-heading--background {
  position: absolute;
  top: 0%;
  left: 27%;

  height: 12vh;
  width: auto;
}

.header_ser_container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  padding-top: 7% !important;
  overflow: hidden;
}

.Aboutcard-Sheading--background {
  position: absolute;
  top: 53%;
  left: 25%;

  height: 12vh;
  width: auto;
}

.Ssmain-title {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  text-align: left;
  letter-spacing: 0.05em;

  color: black;
  margin-top: -5%;
}

.card-paraSs {
  text-align: left;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.05em;
}

.reviewtop {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 1%;
}

.customerid {
  font-size: 12px;
}
.bestrate {
  float: right;
}
.secdiv {
  padding: 1%;
}

.best {
  font-size: 14px;
  float: left;
  font-size: 18px;
  font-weight: 600;
}

.bigbox {
  padding-left: 2%;
  padding-right: 1%;
  padding-top: 2%;
  background-color: #eaf3f9;
}

.smallbox {
  background-color: white;
  border-radius: 12px;
  padding-bottom: 4%;
}

.borderreview {
  width: 95%;
}
.customer-orders {
  border: none;
  text-decoration: underline !important;
  background: linear-gradient(
    232.68deg,
    #2dd1db -8.55%,
    #2d9cdb 57.36%,
    #1a8ed0 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  cursor: pointer;
}
#review-card {
  background: white;
  border-color: #2dd1db;
  border-style: solid;
  border-width: 0.1rem;
  /* box-shadow: 0px 12px 24px 4px rgba(10, 61, 89, 0.3); */
  border-radius: 12px;
  padding: 1%;
  height: 30vh;
  width: 100%;
  max-height: 50vh !important;
}

.reviewbtn {
  display: flex;
  justify-content: center;
  padding-top: 2%;
}

.morereview {
  border: none;
  text-decoration: underline !important;
  font-size: 16px;
  background: linear-gradient(
    232.68deg,
    #2dd1db -8.55%,
    #2d9cdb 57.36%,
    #1a8ed0 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.WriterProfileReview--heading {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 110%;

  letter-spacing: 0.05em;

  color: #2d9cdb;
}

.WriterProfileReview--rating {
  display: flex;
  flex-direction: row;
  padding: 2rem;
}

.WriterProfileReview--rating--left {
  float: left;
  width: 20%;
  justify-content: center;
  padding-top: 2rem;
}
.WriterProfileReview--rating--right {
  float: right;
  width: 80%;
  padding-left: 2rem;
}

.WriterProfileReview--rating--left h1 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 25px;
  line-height: 125%;

  text-align: center;
  letter-spacing: 0.05em;

  color: #2d9cdb;
}

.WriterProfileReview--rating--left p {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 27px;

  text-align: center;
  letter-spacing: 0.05em;

  color: #2d9cdb;
}

.rate--bar--span {
  display: flex;
  flex-direction: row;
}
.rate--bar--number {
  float: left;
  width: 2%;
}
.rate--bar--star--icon {
  float: center;
  width: 2%;
}
.rate--bar--progress-line {
  float: right;
  width: 96%;
}

.morereview:hover {
  font-size: 18px;
}
