@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

.heading--pcardservice123 {
  /* Heading2 */

  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 125%;
  /* identical to box height, or 30px */

  text-align: center;
  letter-spacing: 0.05em;

  /* 11 */

  background: linear-gradient(
    232.68deg,
    #2dd1db -8.55%,
    #2d9cdb 57.36%,
    #1a8ed0 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.p--pcardservice123 {
  /* Body2 */

  font-family: "Poppins";
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 136%;
  /* or 19px */

  text-align: center;
  letter-spacing: 0.05em;

  /* txtlight */

  color: #565d5c;
}

.left--margin {
  margin-left: 7rem !important;
}


.Testimonial-main-container{
  margin: 3.125rem auto;
  width: 46.875rem;
  margin-top: 4rem;
}

.Testimonial-main-container  .slick-next {
  right: -10% !important;
}
 .Testimonial-main-container  .slick-prev{
  left: -10% !important;
}
