:root {
    --primarygrad: linear-gradient(232.68deg, #2DD1DB -8.55%, #2D9CDB 57.36%, #1A8ED0 100%);
    --text: #151515;
}

.hero {
    position: relative;
    display: flex;
}

.extra-bold {
    font-weight: 700;
    font-size: 24px;
    line-height: 36px;
    letter-spacing: 0.05em;
}

.hero-text {
    width: 50%;
    position: absolute;
    top: 28%;
    left: 8%;
    cursor: context-menu;
}

.hero-text--heading {
    width: 41.938rem;
    /* height: 5rem; */
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 125%;
    letter-spacing: 0.05em;
    color: var(--text);
}

.grad-span {
    background: var(--primarygrad);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.hero-text--subtitle {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    letter-spacing: 0.05em;
    color: #363E3D;
}

.get-a-quote {
    margin-top: 2rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 12px 32px;
    gap: 8px;
    width: 11.5rem;
    border: none;
    height: 3.188rem;
    background: linear-gradient(232.68deg, #2DD1DB -8.55%, #2D9CDB 57.36%, #1A8ED0 100%);
    box-shadow: 0px 8px 22px rgba(17, 23, 27, 0.2);
    border-radius: 12px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
    color: #F5FFFA;
    flex: none;
    order: 0;
    flex-grow: 0;
    transition: transform .2s; 
}

.get-a-quote:hover {
    background: linear-gradient(52.68deg, #2DD1DB -8.55%, #2D9CDB 57.36%, #1A8ED0 100%);
    color: white;
    transform: scale(1.05);
}