.subjects {
  background: #EAF3F9;
  overflow: hidden;
}

.subjects-heading--container {
  margin-top: 8%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.subjects-heading--text {
  font-weight: 600;
  font-size: 32px;
  line-height: 125%;
  text-align: center;
  letter-spacing: 0.05em;
  background: linear-gradient(232.68deg, #2DD1DB -8.55%, #2D9CDB 57.36%, #1A8ED0 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.subjects-heading--background {
  position: absolute;
  /* z-index: -1; */
  top: -42%;
  opacity: 0.55;
}

/* Slider */
.infinite-autoslider {
  align-items: center;
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 3%;
}

@-webkit-keyframes scroll {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(calc(-12.5rem * 7));
  }
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(calc(-12.5rem * 7));
  }
}

.slider {
  margin: auto;
  overflow: hidden;
  position: relative;
  width: 100%;
}

.slider::before,
.slider::after {
  content: "";
  position: absolute;
  z-index: 2;
  width: 100%;
}

.slider::after {
  right: 0;
  top: 0;
  transform: rotateZ(180deg);
}

.slider::before {
  left: 0;
  top: 0;
}

.slider .slide-track {
  -webkit-animation: scroll 40s linear infinite;
  animation: scroll 40s linear infinite;
  display: flex;
  width: calc(200px * 14);
}

.slider .slide {
  width: 12.5rem;
  height: 12.5rem;
  margin-left: 1%;
}