.WriterProfileProvide--card {
  padding: 2rem;
  margin-top: 7%;
}
.WriterProfileProvide--body {
  padding: 0;
}
.WriterProfileProvide--card-title {
  margin: 10px 0;
  font-weight: 600;
  font-size: 17px;
  line-height: 110%;
  letter-spacing: 0.05em;
  text-align: left;
  background: linear-gradient(
    232.68deg,
    #2dd1db -8.55%,
    #2d9cdb 57.36%,
    #1a8ed0 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  margin-bottom: 1rem;
}

.WriterProfileProvide--card-text {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 10px;
  letter-spacing: 0.05em;
  color: #565d5c;
  padding-left: 0;
}

.card--tick--span {
  padding-right: 1.5rem;
}

.btn-WriterProfileProvide {
  width: auto;
  margin: 40px 0 0;
  height: 50px;
  text-decoration: none;
  font-size: 20px;
  color: #fff;
  font-weight: 600;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background: linear-gradient(
    232.68deg,
    #2dd1db -8.55%,
    #2d9cdb 57.36%,
    #1a8ed0 100%
  );
  box-shadow: 0px 8px 22px rgba(17, 23, 27, 0.2);
  border-radius: 12px;
  border: none;
  transition: transform 0.2s;
}

.btn-WriterProfileProvide:hover {
  color: #fff;
  transform: scale(1.1);
}

.btn-WriterProfileProvide h2 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 36px;
  color: #f5fffa;
  text-align: center;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.or--div {
  text-align: center;
}
.or--para {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  letter-spacing: 0.05em;
  color: #acacac;
}

.WriterProfileProvide--links--text {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 27px;
  letter-spacing: 0.05em;
  color: #2d9cdb;
  padding-left: 1rem;
}

.WriterProfileProvide--links {
  text-align: left;
}
.a--tag--writerprofileprovide {
  text-decoration: none;
}

.WriterProfileProvide--footer_info {
  width: 100%;
  position: relative;
  z-index: 1;
  text-align: center;
  padding: 20px 0 0;
}

.hr1 {
  border: 1px solid #acacac;
  z-index: 0;
  position: absolute;
  top: 18%;
  width: 20%;
  left: 40%;
}
