@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

.bckcolor {
  background: #eaf3f9;
}

.tnc--sub--head {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 110%;
  letter-spacing: 0.05em;
  text-align: left;
  color: #565d5c;
  margin-bottom: 1%;
  margin-top: 1%;
}

.list--subhead {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 136%;
  letter-spacing: 0.05em;
  color: #565d5c;
}
.aboutH2 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 110%;
  letter-spacing: 0.05em;
  color: #151515;
  text-align: center;
}
.tnc-heading--background {
  position: absolute;
  top: -20%;
  left: 23%;

  width: 704px;
  height: 70px !important;
  opacity: 0.55;
}

.header_ser_container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  padding-top: 7% !important;
  overflow: hidden;
}

.abPara2 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 136%;
  text-align: center;
  letter-spacing: 0.05em;
  color: #565d5c;
}

.sec--bullet--head {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 136%;
  letter-spacing: 0.05em;
  color: #565d5c;
  padding-left: 2rem;
}

.sec--li {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 136%;
  letter-spacing: 0.05em;
  color: #000000;
  margin-left: 2rem;
}