.Testimonial-main1 {
  margin: 4rem 0;
}

.Testimonials-container1 {
  margin: 4rem 0;
  background: #eaf3f9;
}

.Testimonial-header1 h1 {
    display: block;
    font-weight: 700;
    font-size: 75px !important;
    text-align: center;
    letter-spacing: 0.05em;
    background: linear-gradient(232.68deg, #2DD1DB -8.55%, #2D9CDB 57.36%, #1A8ED0 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.subjects-heading--container--exp {
  padding: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.subjects-heading--container--exp button {
  background: linear-gradient(
    232.68deg,
    #2dd1db -8.55%,
    #2d9cdb 57.36%,
    #1a8ed0 100%
  ) !important;
}
.subjects-heading--container--exp .btn {
    font-weight: 600;
    font-size: 18px;
    line-height: 36px;
    text-align: center;
    color: #F5FFFA;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
}
.subjects-heading--container--exp .btn:hover {
  font-weight: 600;
  font-size: 18px;
  line-height: 36px;
  transform: translateY(-5px);
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
}


.swiper-pagination-bullet-active{
    background: #2D9CDB!important;
}
.swiper-pagination-bullet{
    width: 1rem!important;
    height: 1rem!important;
    border: 2px solid #2D9CDB;
    background: transparent!important;
}
  
.swiper{
    height: 70vh;
    width:95vw;
}

.container h1{
    color: #2DD1DB;
    background: linear-gradient(232.68deg, #2DD1DB -8.55%, #2D9CDB 57.36%, #1A8ED0 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    padding-bottom: 30px;
}
.swiper-client-msg1{
    margin-top: 2rem;
    padding: 1rem;
    width: 208px;
    height: 315px;
    margin-left: 2.5rem !important;
    /* margin-top: 4rem; */
    text-align: center;
    font-weight: 500;
    font-size: 14px;
    background: linear-gradient(232.68deg, #2DD1DB -8.55%, #2D9CDB 57.36%, #1A8ED0 100%);
    border-radius: 18px;
    position: absolute;
    transition: top 0.3s ease-in-out;
    
}
.swiper-client-msg1 h2{
    font-size: 18px;
    line-height: 19.8px;
    text-align: center;
    letter-spacing: 0.05em;
    margin-top: 5%;
    color: #FFFFFF;
}

.container h1 {
  color: #2dd1db;
  background: linear-gradient(
    232.68deg,
    #2dd1db -8.55%,
    #2d9cdb 57.36%,
    #1a8ed0 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  padding-bottom: 30px;
}
.swiper-client-msg1 {
  margin-top: 2rem;
  padding: 1rem;
  width: 208px;
  height: 315px;
  margin-left: 2.5rem !important;
  /* margin-top: 4rem; */

  text-align: center;
  font-weight: 500;
  font-size: 14px;
  background: linear-gradient(
    232.68deg,
    #2dd1db -8.55%,
    #2d9cdb 57.36%,
    #1a8ed0 100%
  );
  /* blueshade */

  border-radius: 18px;
  position: absolute;
  transition: top 0.3s ease-in-out;
}
.swiper-client-msg1 h2 {
  font-size: 18px;
  line-height: 19.8px;
  text-align: center;
  letter-spacing: 0.05em;
  margin-top: 5%;

  color: #ffffff;
}

.swiper-client-msg1:hover {
  cursor: pointer;
  transform: scale3d(1.08, 1.08, 1.08);
  background: linear-gradient(
    232.68deg,
    #2dd1db -8.55%,
    #2d9cdb 57.36%,
    #1a8ed0 100%
  );
  box-shadow: 0px 12px 24px 4px rgba(10, 61, 89, 0.3);
  transition: all 0.3s ease-in-out;
  /* width: 256px;
    height: 387px; */
}

.swiper-client-msg1 p {
  margin-top: 20px;
}

 .swiper-slide .left{
    position: absolute;
    max-width: 14rem;
    height: 14rem;
    left: 0;
    top: 0;
    margin-left: 10rem;
}
.swiper-slide .right{
    position: absolute;
    max-width: 14rem;
    height: 14rem;
    right: 0;
    bottom: 0;
} 

.client-data-details1 {
  text-align: center;
}

.client-data-details1 p{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 300;
    font-size: 10px;
    line-height: 13.6px;

    text-align: center;
    letter-spacing: 0.05em;

    color: #FFFFFF;
};

.client-data-details1 p:hover {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
}

.swiper-pagination-bullet-active {
  opacity: var(--swiper-pagination-bullet-opacity, 0.8);
  color: #1a8ed0 !important;
  /* glow */

  box-shadow: 0px 0px 32px 8px rgba(32, 115, 163, 0.25) !important;
  size: 10rem !important;
}


.swiper-client-msg1 h2 :hover{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 26px;  
}

.swiper-client-msg1 h3{
    font-weight: 300;
    font-size: 18px;
    line-height: 27px;
    text-align: center;
    letter-spacing: 0.05em;
    color: #FFFFFF;
}

.swiper-client-msg1 .rating {
  padding: 3%;
}
.swiper-client-msg1 .review{
    font-weight: 300;
    font-size: 12px;
    line-height: 18px;
    text-align: center;
    letter-spacing: 0.05em;
    color: #FFFFFF;
}


.header_container1{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
}

.pcard-heading--background1{
    position: absolute;
    top: 5px;
    left: 28%;
    height: 12vh;
    width: auto;
}

.header_container1 h2 {
  color: #2dd1db;
  background: linear-gradient(
    232.68deg,
    #2dd1db -8.55%,
    #2d9cdb 57.36%,
    #1a8ed0 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  padding-bottom: 30px;
  margin-top: 2.2% !important;
  font-size: 2.5em;
  font-weight: 700;
  overflow: hidden;
}

.btn-hire {
  text-align: center !important;
}

.subjects-heading--container--exp {
  position: relative;
  overflow: hidden;
}

.subjects-heading--text--exp {
    margin-top: 1%;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 125%;
    text-align: center;
    letter-spacing: 0.05em;
    background: linear-gradient(232.68deg, #2DD1DB -8.55%, #2D9CDB 57.36%, #1A8ED0 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;

  background: linear-gradient(
    232.68deg,
    #2dd1db -8.55%,
    #2d9cdb 57.36%,
    #1a8ed0 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.subjects-heading--background--exp {
  position: absolute;
  width: 410px;
  height: 70px;
  opacity: 0.55;
}

.swiper-button-next:after {
  position: absolute;
  right: -0.5rem;
  bottom: 4.5rem;
}
.swiper-button-prev:after {
  position: absolute;
  left: -11px;
  bottom: 4.5rem;
}
