@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

.bckcolor {
  background: #eaf3f9;
}

.provide-title {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 110%;

  text-align: center;
  letter-spacing: 0.05em;

  background: linear-gradient(
    232.68deg,
    #2dd1db -8.55%,
    #2d9cdb 57.36%,
    #1a8ed0 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.fa-solid {
  color: white;
  font-size: 25px;
}

.provide-card {
  background: transparent;

  /* box-shadow: 0px 12px 24px 4px rgba(10, 61, 89, 0.3); */
  border-color: #2d9cdb;

  border-width: 0.2rem;
  border-radius: 16px;
  padding-top: 15%;
  height: 12rem;
  width: 12rem;
  display: flex;
  justify-content: center;
}

.short-head25 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 110%;

  text-align: center;
  letter-spacing: 0.05em;

  color: #151515;
  margin-bottom: 3%;
  margin-top: 3%;
}

.provide-head {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 125%;

  letter-spacing: 0.05em;

  background: linear-gradient(
    232.68deg,
    #2dd1db -8.55%,
    #2d9cdb 57.36%,
    #1a8ed0 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.serPara25 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 136%;
  text-align: center;
  letter-spacing: 0.05em;

  color: #4a4a4a;
}

#provideimg {
  display: flex !important;
  justify-content: center !important;
  width: 100%;
}
.pcimg {
  max-width: 40%;
  height: auto;
}
