@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

.backScolorp {
  background: #eaf3f9;
  padding-top: 5%;
  padding-bottom: 5%;
}
.brand-nameS {
  /* Subheading */

  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 110%;
  /* or 35px */

  letter-spacing: 0.05em;

  /* head */

  color: #151515;
  text-align: left;
}

.imgparabox {
  margin-top: -6% !important;
}

.pg9 {
  /* Body */

  font-family: "Poppins";
  font-style: normal;
  font-weight: 300;
  font-size: 14.5px;
  line-height: 27px;
  text-align: center;
  letter-spacing: 0.05em;
  width: 1200px;


  /* txtlight */

  color: #363e3d;
  text-align: center;
}

.img-fluid {
  height: 30rem;
  width: 30rem;
  margin-top: 5rem;
  margin-left: 5rem;
}
.img-fluid1 {
  margin-top: -15%;
  margin-left: 5rem;
  overflow: hidden;
}

.serpad {
  margin-top: 80px;
  padding-top: 0.5rem;
  padding-bottom: 3rem;
}

.headService {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 110%;
  /* or 70px */

  text-align: center;
  letter-spacing: 0.05em;

  /* 11 */

  background: linear-gradient(
    232.68deg,
    #2dd1db -8.55%,
    #2d9cdb 57.36%,
    #1a8ed0 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.Smain-title9 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: left;
  letter-spacing: 0.05em;

  background: linear-gradient(
    232.68deg,
    #2dd1db -8.55%,
    #2d9cdb 57.36%,
    #1a8ed0 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.card-paraS9 {
  text-align: left;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.05em;
}

.Smain-card9 {
  background: transparent !important;
  border-color: #2d9cdb;
  border-top: 1rem;
  border-right: 1rem;
  border-bottom: 1rem;
  border-width: 0.2em;
  border-radius: 0 !important;

  height: 12rem !important;
  max-height: 18rem !important;
  width: auto;
  display: flex;
  justify-content: left;
  padding-top: 0 !important;
}

.headService {
  padding-top: 3%;
}

.laptop {
  max-height: 40vh;
}

.subjects-heading1--container9 {
  position: relative;
  margin-bottom: 5%;
}

.subjects-heading1--text9 {
  /* heading */

  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 125%;
  /* identical to box height, or 40px */

  text-align: center;
  letter-spacing: 0.05em;

  /* 11 */

  background: linear-gradient(
    232.68deg,
    #2dd1db -8.55%,
    #2d9cdb 57.36%,
    #1a8ed0 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.subjects-heading1--background {
  position: absolute;
  top: -60%;
  left: 10%;
}

.h4hai {
  text-align: center;
  margin: 5%;
}
